.table > thead > tr > th {
    color: #888;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #F1F1F1;
    padding: 20px;
}
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
    text-align: left;
}

.container-fluid {
    max-width: 1600px;
}

.main-content {
    padding-top: 81px;
}

.total-errors {
    margin-bottom: 50px;
}